*,
*:before,
*:after {
  *behavior: url("js/vendor/boxsizing.htc");
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
@media print {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt;
    line-height: 1.45;
    font-family: Garamond, "Times New Roman", serif;
    color: #000;
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    font-family: "Helvetica", Arial, sans-serif;
  }
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4,
  h5,
  h6 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  code {
    font: 12pt Courier, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  }
  blockquote {
    margin: 1.2em;
    padding: 1em;
    font-size: 24pt;
    line-height: 1.45833333em;
    font-style: italic;
  }
  hr {
    background-color: #ccc;
  }
  img {
    float: left;
    margin: 1em 1.5em 1.5em 0;
    max-width: 100% !important;
  }
  a img {
    border: none;
  }
  a:link,
  a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
  }
  a:link[href^="http://"]:after,
  a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="http://"] {
    color: #000;
  }
  a[href$=".jpg"]:after,
  a[href$=".jpeg"]:after,
  a[href$=".gif"]:after,
  a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display: none;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  table {
    margin: 1px;
    text-align: left;
  }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333;
  }
  th,
  td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
}
:focus {
  outline: none;
}
.browsehappy {
  width: 100%;
  padding: 15px;
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  cursor: pointer;
  text-align: center;
}
.browsehappy a {
  color: #fff;
  font-weight: bold;
}
.browsehappy ahover {
  text-decoration: none;
}
.sprite {
  font-size: 10px;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  top: 1px;
  display: inline-block;
}
.sprite {
  background-repeat: no-repeat;
  background-image: url("img/iconsprites/sprite.svg");
  background-size: 6.9em 61.1em;
}
.no-svg .sprite {
  background-image: url("img/iconsprites/sprite.png");
}
.sprite-facebook_logo_big {
  background-position: 0em 0em;
  width: 2.7em;
  height: 2.6em;
}
.sprite-facebook_logo_footer {
  background-position: 0em -2.6em;
  width: 1.6em;
  height: 1.6em;
}
.sprite-facebook_logo_footer_white {
  background-position: 0em -4.2em;
  width: 1.6em;
  height: 1.6em;
}
.sprite-instagram_logo_big {
  background-position: 0em -5.800000000000001em;
  width: 2.8em;
  height: 2.6em;
}
.sprite-instagram_logo_footer {
  background-position: 0em -8.4em;
  width: 1.7em;
  height: 1.6em;
}
.sprite-instagram_logo_footer_white {
  background-position: 0em -10em;
  width: 1.7em;
  height: 1.6em;
}
.sprite-instagram_logo_posts {
  background-position: 0em -11.600000000000001em;
  width: 3.8em;
  height: 3.6em;
}
.sprite-linkedin {
  background-position: 0em -15.200000000000001em;
  width: 1.527em;
  height: 1.5651em;
}
.sprite-post-arrow-left {
  background-position: 0em -16.8em;
  width: 1em;
  height: 1.5em;
}
.sprite-post-facebook-share {
  background-position: 0em -18.3em;
  width: 1.6em;
  height: 1.6em;
}
.sprite-slider-arrow-left {
  background-position: 0em -19.900000000000002em;
  width: 6.9em;
  height: 10.100000000000001em;
}
.sprite-slider-arrow-left-mobile {
  background-position: 0em -30em;
  width: 5em;
  height: 6.5em;
}
.sprite-slider-arrow-right {
  background-position: 0em -36.5em;
  width: 6.9em;
  height: 10.100000000000001em;
}
.sprite-slider-arrow-right-mobile {
  background-position: 0em -46.6em;
  width: 5em;
  height: 6.4em;
}
.sprite-slider-dot {
  background-position: 0em -53em;
  width: 1em;
  height: 1em;
}
.sprite-slider-dot-current {
  background-position: 0em -54em;
  width: 1em;
  height: 1em;
}
.sprite-x_close_desktop {
  background-position: 0em -55em;
  width: 4em;
  height: 4em;
}
.sprite-x_close_mobile {
  background-position: 0em -59em;
  width: 2.1em;
  height: 2.1em;
}
.hidden {
  display: none;
}
.hide-mobile {
  display: none;
}
@media only screen and (min-width: 600px) {
  .hide-mobile {
    display: block;
  }
}
.show-only-mobile {
  display: block;
}
@media only screen and (min-width: 600px) {
  .show-only-mobile {
    display: none;
  }
}
.show-only-mobile-inline {
  display: inline;
}
@media only screen and (min-width: 600px) {
  .show-only-mobile-inline {
    display: none;
  }
}
.show-only-mobile-inline-block {
  display: inline-block;
}
@media only screen and (min-width: 600px) {
  .show-only-mobile-inline-block {
    display: none;
  }
}
.show-tablet {
  display: none;
}
@media only screen and (min-width: 600px) {
  .show-tablet {
    display: block;
  }
}
.show-tablet-inline {
  display: none;
}
@media only screen and (min-width: 600px) {
  .show-tablet-inline {
    display: inline;
  }
}
.show-tablet-inline-block {
  display: none;
}
@media only screen and (min-width: 600px) {
  .show-tablet-inline-block {
    display: inline-block;
  }
}
.show-desktop {
  display: none;
}
@media only screen and (min-width: 800px) {
  .show-desktop {
    display: block;
  }
}
.show-desktop-inline {
  display: none;
}
@media only screen and (min-width: 800px) {
  .show-desktop-inline {
    display: inline;
  }
}
.show-desktop-inline-block {
  display: none;
}
@media only screen and (min-width: 800px) {
  .show-desktop-inline-block {
    display: inline-block;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
html {
  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif';
  font-weight: 300;
  color: #666;
  font-size: 14px;
  line-height: 1.75em;
}
@media (min-width: 400px) {
  html {
    font-size: calc( 14px + (20 - 14) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Futura', 'Trebuchet MS', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 32.49678827773071px;
  margin-top: 0.942400822452556em;
  line-height: 1.130880986943067em;
  margin-bottom: 0.188480164490511em;
}
@media (min-width: 400px) {
  h1 {
    font-size: calc( 32.49678827773071px + (46.423983253901014 - 32.49678827773071) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 46.423983253901014px;
    margin-top: 0.942400822452556em;
    line-height: 1.130880986943067em;
    margin-bottom: 0.188480164490511em;
  }
}
h2 {
  font-size: 27.459837310039262px;
  margin-top: 1.115265165420465em;
  line-height: 1.338318198504558em;
  margin-bottom: 0.247421680709243em;
}
@media (min-width: 400px) {
  h2 {
    font-size: calc( 27.459837310039262px + (39.228339014341806 - 27.459837310039262) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 39.228339014341806px;
    margin-top: 1.115265165420465em;
    line-height: 1.338318198504558em;
    margin-bottom: 0.240111086421698em;
  }
}
h3 {
  font-size: 23.203605804040404px;
  margin-top: 1.319837970815179em;
  line-height: 1.583805564978215em;
  margin-bottom: 0.298096030457675em;
}
@media (min-width: 400px) {
  h3 {
    font-size: calc( 23.203605804040404px + (33.14800829148629 - 23.203605804040404) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 33.14800829148629px;
    margin-top: 1.319837970815179em;
    line-height: 1.583805564978215em;
    margin-bottom: 0.287857499569283em;
  }
}
h4 {
  font-size: 19.6070834735957px;
  margin-top: 1.561935513828041em;
  line-height: 1.87432261659365em;
  margin-bottom: 0.360184181283628em;
}
@media (min-width: 400px) {
  h4 {
    font-size: calc( 19.6070834735957px + (28.01011924799386 - 19.6070834735957) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  h4 {
    font-size: 28.01011924799386px;
    margin-top: 1.561935513828041em;
    line-height: 1.87432261659365em;
    margin-bottom: 0.345845057728222em;
  }
}
h5 {
  font-size: 16.56801643620442px;
  margin-top: 1.84844094752817em;
  line-height: 2.218129137033805em;
  margin-bottom: 0.369688189505634em;
}
@media (min-width: 400px) {
  h5 {
    font-size: calc( 16.56801643620442px + (23.668594908863454 - 16.56801643620442) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  h5 {
    font-size: 23.668594908863454px;
    margin-top: 1.84844094752817em;
    line-height: 2.218129137033805em;
    margin-bottom: 0.369688189505634em;
  }
}
h6 {
  font-size: 14px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.59375em;
}
@media (min-width: 400px) {
  h6 {
    font-size: calc( 14px + (20 - 14) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  h6 {
    font-size: 20px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.46875em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.8375em;
}
@media (min-width: 1440px) {
  fieldset {
    margin-bottom: 2.078125em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.21875em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 14px;
  margin-bottom: 1.18125em;
}
@media (min-width: 400px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 14px + (20 - 14) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 20px;
    margin-bottom: 0.5140625em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.18125em;
}
@media (min-width: 400px) {
  input[type="submit"],
  button {
    font-size: calc( 14px + (20 - 14) * ((100vw - 400px) / (1440 - 400)) );
  }
}
@media (min-width: 1440px) {
  input[type="submit"],
  button {
    font-size: 20px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.1875em;
}
@media (min-width: 1440px) {
  table {
    margin-bottom: 2.05625em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1440px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1440px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
.container {
  *zoom: 1;
  *zoom: 1;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 600px) {
  .column {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  }
  .column:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .column:last-child {
    margin-right: 0;
  }
  .column:nth-child(2n) {
    margin-right: 0;
  }
  .column:nth-child(2n + 1) {
    clear: left;
  }
}
@media only screen and (min-width: 600px) {
  .column-offset {
    margin-left: calc(99.99% * (-1/2 * -1) - (30px - 30px * (-1/2 * -1)) + 30px) !important;
  }
}
.waffle-grid {
  margin: 30px 0;
  *zoom: 1;
}
.waffle-grid:before {
  content: '';
  display: table;
}
.waffle-grid:after {
  content: '';
  display: table;
  clear: both;
}
.waffle-grid-item {
  padding: 20px;
  background: #40d451;
  background: #29b83a -webkit-linear-gradient(top, #40d451, #29b83a) repeat-x;
  background: #29b83a linear-gradient(to bottom, #40d451, #29b83a) repeat-x;
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  height: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  text-align: center;
}
.waffle-grid-item:nth-child(n) {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  clear: none;
}
.waffle-grid-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.waffle-grid-item:nth-child(3n) {
  margin-right: 0;
}
.waffle-grid-item:nth-child(3n + 1) {
  clear: left;
}
.waffle-grid-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.waffle-grid-item.waffle-grid-item--nopadding {
  width: calc(99.999999% * 1/3);
  height: calc(99.999999% * 1/3);
}
.waffle-grid-item.waffle-grid-item--nopadding:nth-child(n) {
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  clear: none;
}
.waffle-grid-item.waffle-grid-item--nopadding:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.waffle-grid-item.waffle-grid-item--nopadding:nth-child(3n) {
  margin-right: 0;
}
.waffle-grid-item.waffle-grid-item--nopadding:nth-child(3n + 1) {
  clear: left;
}
.waffle-grid-item.waffle-grid-item--nopadding:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.column-no-gutters {
  background: #e44921;
  background: #bc3917 -webkit-linear-gradient(top, #e44921, #bc3917) repeat-x;
  background: #bc3917 linear-gradient(to bottom, #e44921, #bc3917) repeat-x;
  height: 300px;
}
@media only screen and (min-width: 600px) {
  .column-no-gutters {
    width: calc(99.999999% * 1/2);
  }
  .column-no-gutters:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .column-no-gutters:last-child {
    margin-right: 0;
  }
  .column-no-gutters:nth-child(2n) {
    margin-right: 0;
  }
  .column-no-gutters:nth-child(2n + 1) {
    clear: left;
  }
}
.grid-row {
  *zoom: 1;
}
.grid-row:before {
  content: '';
  display: table;
}
.grid-row:after {
  content: '';
  display: table;
  clear: both;
}
.align-parent {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #e44921;
  background: #bc3917 -webkit-linear-gradient(top, #e44921, #bc3917) repeat-x;
  background: #bc3917 linear-gradient(to bottom, #e44921, #bc3917) repeat-x;
  color: #fff;
}
.align-parent > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.align-child {
  width: 500px;
}
.row-container {
  height: 100vh;
}
.row {
  position: relative;
  *zoom: 1;
  width: 100%;
  height: calc(99.999999% * 1/3);
  margin-bottom: 0;
  background: #2ecc40;
  background: #0074d9 -webkit-linear-gradient(top, #2ecc40, #0074d9) repeat-x;
  background: #0074d9 linear-gradient(to bottom, #2ecc40, #0074d9) repeat-x;
}
.row:last-child {
  margin-bottom: 0;
}
.row > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.row:before {
  content: '';
  display: table;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.grid-asymetrical {
  width: 100%;
  *zoom: 1;
}
.grid-asymetrical:before {
  content: '';
  display: table;
}
.grid-asymetrical:after {
  content: '';
  display: table;
  clear: both;
}
.grid-asymetrical .grid-item {
  text-align: center;
  height: 100px;
  background: #d13f19;
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  height: 50vh;
}
.grid-asymetrical .grid-item:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.grid-asymetrical .grid-item:last-child {
  margin-right: 0;
}
.grid-asymetrical .grid-item:nth-child(0n) {
  margin-right: 0;
}
.grid-asymetrical .grid-item:nth-child(0n + 1) {
  clear: left;
}
.grid-asymetrical .grid-item:nth-child(2) {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
}
.grid-asymetrical .grid-item:nth-child(2):nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.grid-asymetrical .grid-item:nth-child(2):last-child {
  margin-right: 0;
}
.grid-asymetrical .grid-item:nth-child(2):nth-child(0n) {
  margin-right: 0;
}
.grid-asymetrical .grid-item:nth-child(2):nth-child(0n + 1) {
  clear: left;
}
.grid-move .grid-item {
  background: #d13f19;
  height: 100px;
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
}
.grid-move .grid-item:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.grid-move .grid-item:last-child {
  margin-right: 0;
}
.grid-move .grid-item:nth-child(3n) {
  margin-right: 0;
}
.grid-move .grid-item:nth-child(3n + 1) {
  clear: left;
}
.grid-move .move-grid-item {
  position: relative;
  left: calc(99.99% * 1/3 - (30px - 30px * 1/3) + 30px);
}
.bubble {
  color: #fff;
  background: #d8411a;
  background: #cb3d18 -webkit-linear-gradient(top, #d8411a, #cb3d18) repeat-x;
  background: #cb3d18 linear-gradient(to bottom, #d8411a, #cb3d18) repeat-x;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #bc3917;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble:before,
.bubble:after {
  content: "";
  display: table;
}
.bubble:after {
  clear: both;
}
.bubble:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 16.3px solid transparent;
  border-right: 16.3px solid transparent;
  border-top: 16.3px solid #0068c3;
  position: absolute;
  bottom: -16.3px;
  right: 14px;
  display: block;
}
.bubble:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #0074d9;
  position: absolute;
  bottom: -15px;
  right: 15px;
  display: block;
}
code {
  padding: 3px 4px;
  color: #0074d9;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
}
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  line-height: 160%;
}
.table-layout {
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}
.table-layout > * {
  display: table-cell;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
.icons-container {
  border: 2px #ff851b solid;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(34,34,34,0.5) inset;
  background: #ffdec2;
  background: #ffc28f -webkit-linear-gradient(top, #ffdec2, #ffc28f) repeat-x;
  background: #ffc28f linear-gradient(to bottom, #ffdec2, #ffc28f) repeat-x;
  *zoom: 1;
}
.icons-container:before {
  content: '';
  display: table;
}
.icons-container:after {
  content: '';
  display: table;
  clear: both;
}
.icons-container .icon {
  text-align: center;
  padding: 20px 0;
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
}
.icons-container .icon:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.icons-container .icon:last-child {
  margin-right: 0;
}
.icons-container .icon:nth-child(2n) {
  margin-right: 0;
}
.icons-container .icon:nth-child(2n + 1) {
  clear: left;
}
@media only screen and (min-width: 400px) {
  .icons-container .icon {
    padding: 40px 0;
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  }
  .icons-container .icon:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .icons-container .icon:last-child {
    margin-right: 0;
  }
  .icons-container .icon:nth-child(3n) {
    margin-right: 0;
  }
  .icons-container .icon:nth-child(3n + 1) {
    clear: left;
  }
}
@media only screen and (min-width: 800px) {
  .icons-container .icon {
    width: calc(99.99% * 1/6 - (30px - 30px * 1/6));
  }
  .icons-container .icon:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .icons-container .icon:last-child {
    margin-right: 0;
  }
  .icons-container .icon:nth-child(6n) {
    margin-right: 0;
  }
  .icons-container .icon:nth-child(6n + 1) {
    clear: left;
  }
}
.radio {
  cursor: pointer;
  display: block;
  line-height: 2.5em;
}
.radio [type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.radio [type="radio"] + span {
  display: block;
}
.radio [type="radio"] + span:before {
  background: rgba(0,0,0,0.15);
  border: 0.125em solid #fff;
  border-radius: 1em;
  box-shadow: 0 0 0 0.1em rgba(0,0,0,0.25);
  content: '';
  display: inline-block;
  height: 1em;
  margin-right: 0.75em;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  vertical-align: -0.33em;
  width: 1em;
}
.radio [type="radio"]:checked + span:before,
.radio [type="radio"]:focus + span:before {
  background: #0074d9;
  box-shadow: 0 0 0 0.25em rgba(0,0,0,0.15);
}
.range {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  outline: none;
  background: transparent;
}
.range::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.5em;
  height: 0.5em;
  width: 100%;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #0074d9;
  margin-top: calc(-1.5em / 2 + 0.5em / 2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
.range::-webkit-slider-thumb:active {
  background: #0063b8;
}
.range:focus {
  outline: none;
}
.range:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.1);
}
.range::-moz-range-track {
  width: 100%;
  height: 0.5em;
  background: rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.5em;
}
.range::-moz-range-thumb {
  border: none;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #0074d9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range::-moz-range-thumb:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.range::-moz-range-thumb:active {
  background: #0063b8;
}
.range::-moz-focus-outer {
  border: 0;
}
.range::-ms-track {
  height: 0.5em;
  width: 100%;
  background: transparent;
  border-width: calc(1.5em / 2 + 0.5em / 2) 0;
  color: transparent;
}
.range::-ms-fill-lower,
.range::-ms-fill-upper,
.range:focus::-ms-fill-lower,
.range:focus::-ms-fill-upper {
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
}
.range::-ms-thumb {
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #0074d9;
}
.range::-ms-thumb:active {
  background: #0063b8;
}
.range::-ms-tooltip {
  display: none;
}
form .field {
  clear: both;
  margin-bottom: 5px;
  text-align: left;
  width: 370px;
  max-width: 100%;
}
form .field.error {
  color: #d13f19;
}
form .field.error input {
  color: #d13f19;
  border-color: #d13f19;
}
form .field.error input:focus {
  box-shadow: 0 0 5px rgba(209,63,25,0.7);
  border: 1px solid #b15239;
  outline: none;
}
form .field.success {
  color: #2ecc40;
}
form .field.success input {
  color: #2ecc40;
  border-color: #2ecc40;
}
form .field.success input:focus {
  box-shadow: 0 0 5px rgba(46,204,64,0.7);
  border: 1px solid #4ab055;
  outline: none;
}
form .field.warning {
  color: #d9bb00;
}
form .field.warning input {
  color: #d9bb00;
  border-color: #ffdc00;
}
form .field.warning input:focus {
  box-shadow: 0 0 5px rgba(255,220,0,0.7);
  border: 1px solid #d2bc2d;
  outline: none;
}
input[type="text"],
input[type="email"] {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 250px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
input[type="text"]:focus,
input[type="email"]:focus {
  box-shadow: 0 0 5px rgba(127,219,255,0.7);
  border: 1px solid #95d1e9;
  outline: none;
}
input[type="text"].error,
input[type="email"].error {
  color: #d13f19;
}
input[type="text"].error input,
input[type="email"].error input {
  color: #d13f19;
  border-color: #d13f19;
}
input[type="text"].error input:focus,
input[type="email"].error input:focus {
  box-shadow: 0 0 5px rgba(209,63,25,0.7);
  border: 1px solid #b15239;
  outline: none;
}
input[type="text"].success,
input[type="email"].success {
  color: #2ecc40;
}
input[type="text"].success input,
input[type="email"].success input {
  color: #2ecc40;
  border-color: #2ecc40;
}
input[type="text"].success input:focus,
input[type="email"].success input:focus {
  box-shadow: 0 0 5px rgba(46,204,64,0.7);
  border: 1px solid #4ab055;
  outline: none;
}
input[type="text"].warning,
input[type="email"].warning {
  color: #d9bb00;
}
input[type="text"].warning input,
input[type="email"].warning input {
  color: #d9bb00;
  border-color: #ffdc00;
}
input[type="text"].warning input:focus,
input[type="email"].warning input:focus {
  box-shadow: 0 0 5px rgba(255,220,0,0.7);
  border: 1px solid #d2bc2d;
  outline: none;
}
label {
  line-height: 1.5em;
  display: inline-block;
}
label.label--block {
  line-height: 1.5em;
  display: block;
}
.button {
  font-size: 18px;
  padding: 14px 30px;
  border-radius: 4px;
  background-color: #d13f19;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  box-shadow: 0 2px 10px rgba(34,34,34,0.5);
  -webkit-transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
}
.button:hover,
.button:focus {
  background-color: #c73c18;
  color: #f7f7f7;
  border: none;
}
.button:active {
  background-color: #bc3917;
}
.button:hover {
  box-shadow: 0 0 2px rgba(34,34,34,0.5);
}
.button--glossy {
  font-size: 18px;
  padding: 14px 30px;
  border-radius: 4px;
  background: #ff9132;
  background: #fe7600 -webkit-linear-gradient(top, #ff9132, #fe7600) repeat-x;
  background: #fe7600 linear-gradient(to bottom, #ff9132, #fe7600) repeat-x;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #fe7600;
  color: #fff;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0 1px transparent;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.button--glossy:hover,
.button--glossy:focus {
  background-position: 0 -14px;
  color: #f7f7f7;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.button--glossy:active {
  box-shadow: inset 0 1px 6.923076923076922px rgba(211,98,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  border-color: #e76c00;
}
.button--glossy:hover {
  position: relative;
  z-index: 10;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.2) rotate(3deg);
  -ms-transform: scale(1.2) rotate(3deg);
      transform: scale(1.2) rotate(3deg);
}
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.pace-done .container {
  opacity: 1;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #0074d9;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff url("./img/ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: '\2190';
}
[dir="rtl"] .slick-prev:before {
  content: '\2192';
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: '\2192';
}
[dir="rtl"] .slick-next:before {
  content: '\2190';
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #222;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #222;
  opacity: 0.75;
}
.slick-slider-container {
  position: relative;
}
.slick-slider {
  opacity: 0;
}
.slick-slider .slick-slide img {
  width: 100%;
}
.slick-slider.slick-initialized {
  opacity: 1;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  left: auto;
  right: 10px;
  width: auto;
  height: auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 1000;
}
.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  display: none;
  color: #d13f19;
}
.slick-prev {
  left: 10px;
  right: auto;
}

/*# sourceMappingURL=style.css.map */
