// global-reset()
// nested-reset()

// reset-html5()

// normalize-html5()
// normalize-base()
// normalize-links()
// normalize-text()
// normalize-embed()
// normalize-groups()
// normalize-forms()
// normalize-tables()
normalize-css()

body
	// reset-body()
	reset-font()
	reset-box-model()
	
// table 
// 	reset-table()
// 	td
// 		reset-table-cell()

border-box-html()
fluid-media()
print-styles()

:focus
	outline none