$line-height-ratio  = 1.75
$header-ratio       = $golden
$body-font          = $garamond
$body-font-weight   = 300
$body-color         = #666
$header-font        = $futura
$header-font-weight = 500
$header-color       = #111
$min-font           = 14px
$max-font           = 20px
$min-width          = 400px
$max-width          = 1440px
$vertical-rhythm    = true


		
typographic()